body {
    height: 100vh;
    width: 100vw;
    background-color: #CCCCFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.grid {
    width: 40%;
    aspect-ratio: 1;
}

.line {
    height: 33.3%;
    width:100%;
}

.cell {
    transition: 0.3s;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}
